<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<plugin>

    <extension point="org.eclipse.ui.newWizards">
        <category name="Service Hosting" id="org.wso2.developerstudio.eclipse.service.hosting.mss"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <wizard name="Microservices Project"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting.mss"
                class="org.wso2.developerstudio.mss.artifact.ui.wizard.MSSProjectCreationWizard"
                wizardManifest="project_wizard.xml"
                id="org.wso2.developerstudio.mss.artifact.newmssartifact"
                descriptionImage="icons/mss-wizard.png"
                project="true" icon="icons/mss.png">
            <description>MSS Project</description>
        </wizard>
    </extension>

    <extension point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
        <wizardCategory category="org.wso2.developerstudio.eclipse.service.hosting.mss"/>
        <category id="dashboard.category.mss" showTitle="true"
                  title="Microservices Server"
                  priority="8">
        </category>
        <wizardLink category="dashboard.category.mss" id="1dashboard.wizardLink.mss"
                    wizard="org.wso2.developerstudio.mss.artifact.newmssartifact"
                    priority="1">
        </wizardLink>
    </extension>

    <extension point="org.eclipse.core.resources.natures"
               id="org.wso2.developerstudio.eclipse.mss.project.nature" name="Microservices Project Nature">
        <runtime>
            <run class="org.wso2.developerstudio.mss.artifact.project.nature.MSSArtifactProjectNature"/>
        </runtime>
    </extension>

    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image id="org.wso2.developerstudio.eclipse.mss.project.natureImage"
               natureId="org.wso2.developerstudio.eclipse.mss.project.nature" icon="icons/mss-nature.png">
        </image>
    </extension>

</plugin>