* {
    outline: none !important;
}
@font-face {
    font-family: 'Roboto Light';
    font-style: 'normal';
    font-weight: 300;
    src: url('../fonts/Roboto/Roboto-Light-webfont.eot');
    src: local('Roboto Light'), local('Roboto-Light-webfont'),
    url('../fonts/Roboto/Roboto-Light-webfont.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Light-webfont.svg#Roboto Light') format('svg');
}
body {
    background: #f9f9f9;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
header {
    background: #222222;
    min-height: 50px;
    position: relative;
}
header .brand {
    padding: 10px 0;
}
header .auth {
    margin: 0 -15px;
}
header .brand a {
    min-height: 24px;
}
header .brand img.logo {
    height: 24px;
}
header .brand h1 {
    display: inline-block;
    line-height: 1;
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 0 5px;
    color: #ffffff;
    padding: 6px 0 0 0;
    font-style: normal;
    text-transform: uppercase;
}
header .dropdown {
    display: inline-block;
    color: #ffffff;
    padding: 6px 0;
}
.dropdown-menu {
    border: none;
    background: #e4e4e4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-wrapper {
    min-height: 50px;
}
.navbar {
     background: #2c313b;
     border: none;
     margin-bottom: 0;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
    height: 50px;
 }
.navbar .container-fluid {
    padding: 0;
}
.navbar-toggle {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-menu-toggle {
    float: left;
    height: 50px;
    padding: 0 8px;
    line-height: 50px;
    font-size: 18px;
    background: #007d85;
    color: #ffffff;
}
.navbar-menu-toggle {
    float: left;
    height: 50px;
    padding: 0 8px;
    line-height: 50px;
    font-size: 18px;
    background: #007d85;
    color: #ffffff;
}
.navbar-menu-toggle:hover, .navbar-menu-toggle:focus, .navbar-menu-toggle:active {
    color: #ffffff;
    background: #004d52;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: #ffffff;
    margin-left: 0;
    padding: 0 15px;
    line-height: 50px;
    text-transform: uppercase;
    background: #21252c;
}
nav .navbar-nav li:hover{
    background-color: #575B64;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb > li > a > .icon {
    padding-bottom: 3px;
}
.navbar > .container .navbar-brand a, .navbar > .container-fluid .navbar-brand a {
    color: #ffffff;
    font-size: 16px;
}
.navbar .container-fluid > .navbar-collapse .icon, .navbar .container-fluid > .navbar-header .icon, .navbar .container > .navbar-collapse .icon, .navbar .container > .navbar-header .icon {
    margin-bottom: 4px;
}
.navbar > .container .navbar-brand a, .navbar > .container-fluid .navbar-brand a {
    color: #ffffff;
    font-size: 16px;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 1px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 50px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    color: #ffffff;
}
.page-content-wrapper, .page-content-wrapper[data-container-behaviour=static] {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    left: 0;
    margin-left: 0;
}

.dropdown-menu.tiles {
    padding: 4px;
    max-width: 385px;
}
.dropdown-menu.dark {
    background: #222222;
    color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu.tiles > li {
    padding: 0;
    list-style: none;
    display: inline-block;
    float: left;
}
.dropdown-menu.tiles li a {
    display: block;
    margin: 4px;
    padding: 5px;
    list-style: none;
    width: 85px;
    height: 85px;
    text-align: center;
    vertical-align: text-bottom;
    color: #ffffff;
    text-decoration: none;
    background: #444444;
}
.dropdown-menu.dark.arrow:before {
    border-bottom-color: #222222;
}
.dropdown-menu.arrow:before, .dropdown-menu.arrow.arrow-top-left:before {
    position: absolute;
    top: -6px;
    left: 15px;
    right: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #e4e4e4;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-menu.tiles li a .icon {
    display: block;
    font-size: 35px;
    margin: 3px 0 7px;
    height: 35px;
}
.dropdown-menu.tiles li a .name {
    display: block;
    line-height: 14px;
    font-size: 12px;
    height: 28px;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    color: #cbcbcb;
    background: #222222;
    z-index: 1000;
}
footer > .container p, footer > .container-fluid p {
    line-height: 40px;
    margin-bottom: 0;
}
footer a, footer a:hover {
    color: #cbcbcb;
}
/*login page */
.col-centered {
    float: none;
    margin: 0 auto;
}
.wr-login {
    padding-top: 50px;
}
.uppercase {
    text-transform: uppercase;
}
.blue-bg {
    background-color: #3a9ecf !important;
}
.padding-double {
    padding: 20px;
}
.boarder-bottom-blue {
    border-bottom: 2px solid #006596;
}
.boarder-all {
    border: 1px solid #d8d8d8;
    background: #FFF;
    margin-top: -10px;
}
.wr-login input[type=text], .wr-login input[type=password] {
    border: 1px #d2d2d2 solid;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    z-index: 1;
    -webkit-appearance: none;
    line-height: 30px;
    border-radius: 0px;
}
button.grey-bg:hover {
    background-color: #3A9ECF;
}
.wr-btn {
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    background: #5d81d2;
    padding: 10px 10px;
    display: inline-block;
    border: none;
}
button.grey-bg {
    background-color: #222222;
}
.white {
    color: #FFF;
}

/* main page content */
.thumbnail-overide{
    border-radius: 0px;
}
.thumbnail-overide>.caption h3{
    font-size: 1.2em;
    text-align: center;
}
a.thumbnail-overide:hover{
   text-decoration: none;
}
.thumbnail-overide img{
    margin-top: 1em;
}

.page-header {
    margin: 0 0 20px;
}

.page-header > h1 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.5em;
}
.form-control, .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-primary {
    color: #ffffff;
    background-color: #2c313b;
    border-color: #2c313b;
}
.btn-primary:hover {
    background-color: #424958;
}
a.btn:hover, .btn:hover, a.btn:focus, .btn:focus {
    text-decoration: none;
    background: #eee;
}
.invert-png{
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-bottom: 10px;
    width: 50px;
}